@keyframes blinker {
  50% { opacity: 0.0; }
}

@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: white; }
}

html, body {
  height: 100%;
  width: 100%;
  background-color: #1e1e1e;
  scroll-behavior: smooth;
  font-family: monospace;
  text-align: justify;
  color: white;
}

.arrowdown {
  width: 0;
  height: 0;
  border-left: 0.5em solid transparent;
  border-right: 0.5em solid transparent;
  border-top: 0.5em solid white;
}

.arrowup {
  width: 0;
  height: 0;
  border-left: 0.5em solid transparent;
  border-right: 0.5em solid transparent;
  border-bottom: 0.5em solid white;
}

.workdetails {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s linear;
}

.workdetails.visible {
  max-height: 100vh;
  transition: max-height 0.5s linear;
}

.workitem {
  border: solid 2px rgba(255, 255, 255, 0.5);
  position: relative;
}

.worktitle {
  text-align: left;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.responsibilitieslist {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 1%
}

.responsibilitieslist li {
  list-style-type: none;
}

.responsibilitieslist ul {
  border-left: solid 2px rgba(255, 255, 255, 0.3);
  margin-left: 1em;
  padding-left: 5%;
}

.listicon::before {
  content: "<ul>";
  position: absolute;
  top: 0;
  color: rgba(255, 255, 255, 0.3);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  display: block;
}

.listicon::after {
  content: "</ul>";
  position: absolute;
  bottom: 0;
  color: rgba(255, 255, 255, 0.3);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  display: block;
}

.background {
  position: relative;
  background-color: transparent;
  z-index: 1;
  pointer-events: none;
}

.main {
  position: relative;
}

.main::before {
  content: "";
  position: absolute;
  background-image: url('../images/code.png');
  background-size: contain;
  background-repeat:repeat-y;
  opacity: 0.05;
  width: 100%;
  height: 100%;
}

.pinkhighlight {
  color: #b572aa;
}

.bluehighlight {
  color: #379bd6;
}

.orangehighlight {
  color: #c6826b;
}

.yellowhighlight {
  color: #d3d39e;
}

.introheader, .aboutheader, .workheader {
  font-weight: bold;
}

#rotatingheader {
  width: 0;
  overflow: hidden;
  border-right: 0.1em solid white;
  white-space: nowrap;
}

.typing {
  animation: 
    typing 2s steps(20, end) forwards infinite,
    blink-caret 1s step-end infinite;
}

.deleting {
  animation: 
    deletion 2s steps(20) forwards,
    blink-caret 1s step-end infinite;
}

.profilepicture {
  position: absolute;
  border-radius: 50%;
  overflow: hidden;
}

.profilepictureimg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../images/profile.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  transform: scale(1.5);
}

.burgernav {
  position: fixed;
  top: 0;
  color: white;
  z-index: 2;
}

.burgernav.active {
  left: 0;
}

.burgerbackground {
  color: white;
  z-index: 2;
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

.burgertext, .contacticons {
  text-decoration-line: none;
  color: white;
}

.burgerlist {
  list-style: none;
}

#introduction, #about, #work {
  max-height: 1500px;
}

.resumeburger {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

@media only screen and (max-width: 400px) {
  .profilepicture {
    width: 50%;
    height: 30%;
    left: 25%;
    top: 5%;
  }

  .introtext::before {
    padding: 10%;
    top: 80%;
    left: 0;
    width: 80%;
    height: 100%;
  }

  .introtext, .abouttext {
    font-size: 1em;
    padding: 10%;
    padding-top: 1%;
  }

  .workitem {
    font-size: 1em;
    margin-left: 10%;
    margin-right: 10%;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 2%;
    cursor: pointer;
  }

  .worktitle {
    font-size: 1.25em;
  }

  .tagcloud {
    padding: 10%;
    padding-top: 1%;
  }

  .introheader {
    padding-top: 70%;
  }

  .aboutheader, .workheader {
    padding-top: 10%;
  }

  .introheader, .aboutheader, .workheader {
    padding-left: 10%;
    padding-right: 10%;
    font-size: 1.5em;
    padding-bottom: 5%;
    line-height: 1em;
  }

  @keyframes typing {
    from { width: 0 }
    to { width: 24rem }
  }

  @keyframes deletion {
    from { width: 24rem }
    to { width: 0 }
  }

  .burgernav {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: left 0.2s ease-in-out;
    left: -100%;
    height: 100%;
    background-color: black;
  }

  .burgerlist {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .burgerbutton, .burgerclose, .burgertext, .contacticons {
    font-size: 2em;
  }

  .burgerbackground {
    background: rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
  }

  .burgerbutton {
    border: none;
    background-color: transparent;
    color: white;
    position: fixed;
    z-index: 3;
    cursor: pointer;
  }

  .burgerclose {
    color: white;
    border: none;
    position: absolute;
    top: 0;
    right: 0;
    background-color: transparent;
    cursor: pointer;
  }
}

@media only screen and (min-width: 401px) and (max-width: 500px) {
  .profilepicture {
    width: 250px;
    height: 250px;
    left: 25%;
    top: 5%;
  }

  @keyframes typing {
    from { width: 0 }
    to { width: 28rem }
  }

  @keyframes deletion {
    from { width: 28rem }
    to { width: 0 }
  }

  .introtext, .abouttext {
    font-size: 1em;
    padding: 10%;
    padding-top: 1%;
  }

  .introtext::before {
    top: 80%;
    left: 0;
    width: 100%;
    height: 80%;
  }

  .workitem {
    font-size: 1em;
    margin-left: 10%;
    margin-right: 10%;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 2%;
    cursor: pointer;
  }

  .worktitle {
    font-size: 1.5em;
  }

  .tagcloud {
    padding: 10%;
    padding-top: 0;
  }

  .introheader {
    padding-top: 70%;
  }

  .aboutheader, .workheader {
    padding-top: 10%;
  }

  .introheader, .aboutheader, .workheader {
    padding-left: 10%;
    padding-right: 10%;
    font-size: 2em;
    padding-bottom: 5%;
    line-height: 1em;
  }

  .burgernav {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: left 0.2s ease-in-out;
    left: -100%;
    height: 100%;
    background-color: black;
  }

  .burgerlist {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .burgerbutton, .burgerclose, .burgertext, .contacticons {
    font-size: 2em;
  }

  .burgerbackground {
    background: rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
  }

  .burgerbutton {
    border: none;
    background-color: transparent;
    color: white;
    position: fixed;
    z-index: 3;
    cursor: pointer;
  }

  .burgerclose {
    color: white;
    border: none;
    position: absolute;
    top: 0;
    right: 0;
    background-color: transparent;
    cursor: pointer;
  }
}

@media only screen and (min-width: 501px) and (max-width: 750px) {
  .profilepicture {
    width: 150px;
    height: 150px;
    right: 5%;
    top: 2%;
  }

  .introtext, .abouttext {
    font-size: 1.5em;
    padding-left: 7%;
    padding-right: 5%;
  }

  @keyframes typing {
    from { width: 0 }
    to { width: 35rem }
  }

  @keyframes deletion {
    from { width: 35rem }
    to { width: 0 }
  }

  .introtext {
    height: 50vh;
  }

  .introtext::before {
    top: 60%;
    left: 0;
    width: 100%;
    height: 50%;
  }

  .workitem {
    font-size: 1.5em;
    margin-left: 7%;
    margin-right: 5%;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 2%;
    cursor: pointer;
  }

  .worktitle {
    font-size: 1.5em;
  }

  .tagcloud {
    padding-top: 2%;
    padding-left:  7%;
    padding-right: 5%;
  }

  .introheader {
    padding-top: 10%;
  }

  .aboutheader, .workheader {
    padding-top: 10%;
  }

  .introheader, .aboutheader, .workheader {
    padding-left: 7%;
    padding-right: 5%;
    font-size: 2.5em;
    padding-bottom: 2%;
    line-height: 1em;
  }

  .burgernav {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: left 0.2s ease-in-out;
    left: -100%;
    height: 100%;
    background-color: black;
  }

  .burgerlist {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .burgerbutton, .burgerclose, .burgertext, .contacticons {
    font-size: 2em;
  }

  .burgerbackground {
    background: rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
  }

  .burgerbutton {
    border: none;
    background-color: transparent;
    color: white;
    position: fixed;
    z-index: 3;
    cursor: pointer;
  }

  .burgerclose {
    color: white;
    border: none;
    position: absolute;
    top: 0;
    right: 0;
    background-color: transparent;
    cursor: pointer;
  }
}

@media only screen and (min-width: 751px) and (max-width: 1200px) {
  .profilepicture {
    width: 200px;
    height: 200px;
    right: 5%;
    top: 10%;
  }

  .introtext, .abouttext {
    font-size: 1.5em;
    padding-left: 7%;
    padding-right: 5%;
  }

  @keyframes typing {
    from { width: 0 }
    to { width: 50rem }
  }

  @keyframes deletion {
    from { width: 50rem }
    to { width: 0 }
  }

  .workitem {
    font-size: 1.5em;
    margin-left: 7%;
    margin-right: 5%;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 2%;
    cursor: pointer;
  }

  .worktitle {
    font-size: 2em;
  }

  .introtext {
    height: 70vh;
  }

  .introtext::before {
    top: 30%;
    left: 0;
    width: 100%;
    height: 80%;
  }

  .tagcloud {
    padding-left:  7%;
    padding-right: 5%;
    padding-top: 5%;
  }

  .introheader {
    padding-top: 10%;
  }

  .aboutheader, .workheader {
    padding-top: 5%;
  }

  .introheader, .aboutheader, .workheader {
    padding-left: 7%;
    padding-right: 5%;
    font-size: 3.5em;
    line-height: 1em;
  }
  
  .burgernav {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.3);
  }

  .burgerlist {
    display: flex;
    align-items: flex-start;
    margin: 0;
    width: 100%;
    height: 100%;
    padding: 0;
  }

  .burgerlist > li, .burgerlist > a {
    height: 100%;
    padding-right: 3%;
    padding-left: 3%;
    padding: 2%;
  }

  .burgerlist > li:first-child {
    padding-left: 7%;
  }

  .burgerlist > li.active {
    background-color: rgba(255, 255, 255, 0.3);
  }

  .burgertext, .contacticons {
    font-size: 2.5em;
  }

  .burgerbutton, .burgerclose {
    display: none;
  }
}

@media only screen and (min-width: 1201px) {
  .profilepicture {
    width: 350px;
    height: 350px;
    right: 5%;
    top: 8%;
  }

  @keyframes typing {
    from { width: 0 }
    to { width: 70rem }
  }

  @keyframes deletion {
    from { width: 70rem }
    to { width: 0 }
  }

  .introtext {
    height: 90vh;
  }

  .introtext::before {
    top: 20%;
    left: 0;
    width: 100%;
    height: 90%;
  }

  .introtext, .abouttext {
    font-size: 1.5em;
    padding-left: 5%;
    padding-right: 5%;
  }

  .workitem {
    font-size: 1.5em;
    margin-left: 5%;
    margin-right: 10%;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 2%;
    cursor: pointer;
  }

  .worktitle {
    font-size: 2.5em;
  }

  .tagcloud {
    padding-left:  5%;
    padding-right: 10%;
    padding-top: 5%;
  }

  .introheader {
    padding-top: 10%;
  }

  .aboutheader, .workheader {
    padding-top: 5%;
  }

  .introheader, .aboutheader, .workheader {
    padding-left: 5%;
    padding-right: 5%;
    font-size: 5em;
    line-height: 1em;
  }

  .burgernav {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.3);
  }

  .burgerlist {
    display: flex;
    align-items: flex-start;
    margin: 0;
    width: 100%;
    height: 100%;
    padding: 0;
  }

  .burgerlist > li, .burgerlist > a {
    height: 100%;
    padding-right: 3%;
    padding-left: 3%;
    padding: 2%;
  }

  .burgerlist > li.active {
    background-color: rgba(255, 255, 255, 0.3);
  }

  .burgertext, .contacticons {
    font-size: 2.5em;
  }

  .burgerbutton, .burgerclose {
    display: none;
  }
}